@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
body {
  margin: 0;
  font-family: "Roboto Mono";
  overflow: hidden;
  background-color: #373737;
  font-size: 40px;
  font-weight: bold;
}

pre {
  background-color: #3a3a3a;
  padding: 20px;
  border-radius: 5px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}

.pg-horizontal nav {
  width: 100vw;
  left: 0;
  bottom: 20px;
}
.pg-horizontal nav ul li {
  float: left;
}

#nav .nav {
  position: fixed;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: opacity 250ms ease;
  padding: 20px;
}
#nav .nav.active {
  opacity: 1;
}
#nav .nav.nav-prev {
  left: 0;
}
#nav .nav.nav-prev button::after {
  content: "\FB0E";
}
#nav .nav.nav-next {
  right: 0;
}
#nav .nav.nav-next button::after {
  content: "\FB10";
}
#nav .nav button {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#nav .nav button::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 49px;
  color: #fff;
  font-family: "Material Design Icons";
}

#page-1 {
  background-color: #3F51B5;
}

#page-2 {
  background-color: #673AB7;
}

#page-3 {
  background-color: #9C27B0;
}

#page-4 {
  background-color: #E91E63;
}

#page-5 {
  background-color: #F44336;
}

#page-6 {
  background-color: #4CAF50;
}

#page-1-clone {
  background-color: #3F51B5;
}

#page-6-clone {
  background-color: #4CAF50;
}

nav {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span {
  background: #fff;
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a.active span,
nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

.progress {
  position: fixed;
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: 5px;
}
.progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  background-color: #fff;
}

.page-progress {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 10px;
  top: 20px;
}

svg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

circle {
  stroke: #fff;
  fill: transparent;
  stroke-dasharray: 87.9645943005 87.9645943005;
  stroke-dashoffset: 87.9645943005;
}