@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
body {
  margin: 0;
  font-family: "Montserrat";
  overflow: hidden;
  background-color: #2a2a2a;
}

pre {
  background-color: #3a3a3a;
  padding: 20px;
  border-radius: 5px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}
section:nth-child(1) .text {
  background-color: #3498db;
}
section:nth-child(2) .text {
  background-color: #2ecc71;
}
section:nth-child(3) .text {
  background-color: #9b59b6;
}
section:nth-child(4) .text {
  background-color: #f1c40f;
}
section:nth-child(5) .text {
  background-color: #e67e22;
}
section:nth-child(6) .text {
  background-color: #e74c3c;
}

.scroller {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 40px;
  height: 65px;
  border: 4px solid #fff;
  border-radius: 30px;
}
.scroller::after {
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: 1200ms ease 0ms forwards infinite scroll;
          animation: 1200ms ease 0ms forwards infinite scroll;
  content: "";
}
.scroller small {
  position: absolute;
  width: 174px;
  left: -64px;
  top: -34px;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
            transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
            transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}
.anchors {
  position: fixed;
  top: 25px;
  right: 50px;
  z-index: 100;
}
.anchors ul {
  margin: 0;
  padding: 0;
}
.anchors ul li {
  float: left;
  list-style: none;
}
.anchors ul li a {
  padding: 12px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.anchors ul li a.active::after {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
}

.text {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  transition: all 500ms;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.text.active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span {
  background: #fff;
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a.active span,
nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}